---
import '../styles/global1.css';

const { isDark } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr" class={isDark ? 'dark' : ''}>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Documentation Movelys</title>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 min-h-screen flex flex-col">
  <slot />
</body>
</html>